// Configuration
*,
*::after,
*::before{
    box-sizing: border-box;
}

html{
    font-size: 62.5%; // 1rem = 10px 
}


// General                        
body{
    background-color: $bg-dark;
    color: $text-light;
    font-family: $primary-font;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.4rem; 
}

img{
    vertical-align: top;
    width: 100%;
    max-width: 100%;
}


// Fonts

h1, h2, h3, h4, h5, h6,
.display-1,
.display-2,
.display-3 
{
    font-family: $title-font;
    margin: 0;
}

.display-1{
    font-size: 6.4rem;
    line-height: 7.2rem;
}

.display-2{
    font-size: 5.6rem;  
    line-height: 6.4rem; 
}

.display-3{
    font-size: 4.8rem; 
    line-height: 5.6rem;
}   

p{
    margin: 0;
}

a{
    text-decoration: none;
}