.sidebar {
    background-color: var(--dark-10);
    width: 7.2rem;
    min-height: 100vh;
    transition: width .4s ease-in-out;

    &.open {
        width: 28rem;
    }
}

.sidebar-header {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    padding: 0 2.4rem;
    gap: 1.6rem;

    .header-icon {
        min-width: 4.8rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -1.2rem;
        margin-right: -1.2rem;
        overflow: hidden;
    }

    .header-logo {
        min-width: 16.8rem;
        max-width: 16.8rem;
        display: flex;
        align-items: center;
        opacity: 90%;
        transition: opacity .6s ease-in-out;
    }

    &.close {
        overflow: hidden;

        .header-logo {
            opacity: 0;
        }
    }
}

.sidebar-menu {
    margin-top: 6.4rem;
}

.sidebar-menu-item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    color: var(--text-light);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.2rem 2.4rem;
    margin-bottom: 1.2rem;
    overflow: hidden;
    transition: background-color .16s ease-in-out;

    p { 
        transition: opacity .6s ease-in-out;
    }

    i {
        font-size: 2.4rem;
    }

    &.active {
        background-color: var(--primary-25); 
        box-shadow: 0 0px 10px 1px var(--primary-25);
        border-left: .4rem solid var(--primary);
        padding-left: 2rem;

        i {
            color: var(--primary);
        }
    }

    &.close {
        p {
            opacity: 0;
            overflow: hidden;
        }
    }
}

.sidebar-menu-item:hover {
    background-color: var(--dark-12); 
}